{% extends "web/plantilla.html" %}
{% block contenido %}
  <div class="serviciosDetalle">
                <div class="titulo">
                    <h1>LAVADO COMPLETO</h1>
                </div>
                <div class="detalle">
                    <div class="servicio">
                        <h2>AUTO</h2>
                        <p>Prelavado presión hidrolavadora, shampoo + shampoo espumante nieve, cera, renovador
                            neumáticos, chasis (tunel), llantas.</p>
                        <h2>$12.000</h2>
                    </div>
                    <div class="servicio">
                        <h2>CAMIONETA</h2>
                        <p>Prelavado presión hidrolavadora, shampoo + shampoo espumante nieve, cera, renovador
                            neumáticos, chasis (tunel), llantas.</p>
                        <h2>$18.000</h2>
                    </div>
                    <div class="servicio">
                        <h2>CAMIONETA XL</h2>
                        <p>Prelavado presión hidrolavadora, shampoo + shampoo espumante nieve, cera, renovador
                            neumáticos, chasis (tunel), llantas.</p>
                        <h2>$21.000</h2>
                    </div>
                </div>
                <div class="titulo">
                    <h1>TAPIZ</h1>
                </div>
                <div class="detalle">
                    <div class="servicio">
                        <h2>PARTE DELANTERA</h2>
                        <p>Aspirado profundo, limpieza de asientos.</p>
                        <h2>$7.000</h2>
                    </div>
                    <div class="servicio">
                        <h2>PARTE TRASERA</h2>
                        <p>Aspirado profundo, limpieza de asientos y maleta.</p>
                        <h2>$8.000</h2>
                    </div>
                    <div class="servicio">
                        <h2>TECHO Y ALFOMBRA</h2>
                        <p>Limpieza tapiz, alfombra, techo, laterales y maleta.</p>
                        <h2>$12.000</h2>
                    </div>
                </div>
                <div class="titulo">
                    <h1>LAVADO Y TAPIZ</h1>
                </div>

                <div class="detalle">
                    <div class="servicio">
                        <h2>AUTO</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa temporibus explicabo odit.
                            Iure, quidem iusto?</p>
                    </div>
                    <div class="servicio">
                        <h2>CAMIONETA</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa temporibus explicabo odit.
                            Iure, quidem iusto?</p>
                    </div>
                    <div class="servicio">
                        <h2>CAMIONETA XL</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa temporibus explicabo odit.
                            Iure, quidem iusto?</p>
                    </div>
                </div>
            </div>

{% endblock contenido %}
          